<h1>Listing carts</h1>

<% if session[:cart_id]%>
<h2>Current Cart is Cart<%= session[:cart_id]%></h2>
<% end %>
<table>
  <tr>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @carts.each do |cart| %>
  <tr>
    <td>Cart <%=cart.id%> has <%= cart.line_items.count%> goods -- total price: <%= number_to_currency(cart.total_price) %></td>
    <td>
    <!--In this scenario, it seems that we cannot use the "REST" line_item(item) to implement the following one-->
    <%= link_to 'Select this carts',
    options = {:controller=>"carts", :action=>"index", :id=>cart},
    html_options={:confirm => "Are you sure?"}%>
    </td>
    <td><%= link_to 'Show', cart %></td>
    <td><%= link_to 'Edit', edit_cart_path(cart) %></td>
    <td><%= link_to 'Destroy', cart, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Cart', new_cart_path %>
