<!DOCTYPE html>
<html>
<head>
  <title>Marvell's Online Bookstore</title>
  <%= stylesheet_link_tag "scaffold" %>
  <%= stylesheet_link_tag "depot", :media=>"all" %>
  <%= javascript_include_tag :defaults %>
  <%= csrf_meta_tag %>
</head>
<body id="store">

  <div id="visit_count" style="font-size: 2em; float: right">
    <%=session[:count] if session[:count] > 5%>
  </div>

  <div id="banner">

    <%= link_to image_tag("logo.png"), root_path %>
    <%= @page_title || "Pragmatic Bookshelf" %>
  </div>
  <div id="columns">
    <div id="side">
      <div id="cart"
      <% if @cart.line_items.empty?%>
      	style="display: none"
      <%end%>
      >
        <%= render @cart %>
      </div>

      <%= link_to 'Product List page', root_path%></br>
      <%= link_to 'Carts list page', carts_path%></br>
      <%= link_to 'Line Item list page', line_items_path%></br>
      <%= link_to 'Modification on Products', products_path%></br>
      <a href="http://www....">Home</a><br />
      <a href="http://www....">Question</a><br />
      <a href="http://www....">News</a><br />
      <a href="http://www....">Contact</a><br />
    </div>
    <div id="main">
      <%= yield %>
    </div>
  </div>

</body>
</html>
